# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Database files
*.sqlite3
db.sqlite3

# Environment variables
.env

# Django logs
logs/
*.log

# Compiled files
*.pyc
*.pyo

# Static and media files
/static/
/media/

# Migrations (keep `__init__.py`)
**/migrations/*
!**/migrations/__init__.py

# VS Code settings
.vscode/

# Mac and system files
.DS_Store
Thumbs.db

# Coverage reports
htmlcov/
.coverage
